[submodule "lannister/tyrion"]
	path = lannister/tyrion
	url = https://github.com/AnishGeorgeJlabs/Tryion.git
[submodule "lannister/jaime"]
	path = lannister/jaime
	url = https://github.com/AnishGeorgeJlabs/Jaime.git
