container_commands:
  01_update_tyrion:
    command: "git submodule update --remote lannister/tyrion"
    leader_only: false
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "lannister.settings"
    PYTHONPATH: "/opt/python/current/app/lannister:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "lannister/lannister/wsgi.py"
