container_commands:
  01_tyrion_clone:
    command: "git clone https://github.com/AnishGeorgeJlabs/Tyrion.git lannister/tyrion"
    leader_only: false
  02_jaime_clone:
    command: "git clone https://github.com/AnishGeorgeJlabs/Jaime.git lannister/jaime"
    leader_only: false
  03_cersei_clone:
    command: "git clone https://github.com/AnishGeorgeJlabs/Cersei.git lannister/cersei"
    leader_only: false
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "lannister.settings"
    PYTHONPATH: "/opt/python/current/app/lannister:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "lannister/lannister/wsgi.py"
